{% extends 'dashboard/base.html' %}

{% block content %}

<h1 class="title">Acciones Rápidas:</h1>

<div class="cards">

    <div class="card" onclick="window.location.href='/ventas/nueva/'">
        <i class="fa-solid fa-cash-register"></i>
        <h2>Venta Rápida:</h2>
    </div>

    <div class="card">
        <i class="fa-solid fa-car"></i>
        <h2>Vehículos:</h2>
        <span>0</span>
    </div>

    <div class="card">
        <i class="fa-solid fa-screwdriver-wrench"></i>
        <h2>Servicios:</h2>
        <span>0</span>
    </div>

    <div class="card" onclick="window.location.href='/productos/'">
        <i class="fa-solid fa-boxes-stacked"></i>
        <h2>Productos:</h2>
    </div>

    {% if user.is_staff %}
        <div class="card" onclick="window.location.href='/finanzas/'">
            <i class="fa-solid fa-chart-line"></i>
            <h2>Finanzas</h2>
        </div>
    {% endif %}

</div>

{% endblock %}